@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');

/* DIV DA VIEW ACCOUNT */

#accountAll { /* Div pai */
    font-family: 'Roboto Condensed', sans-serif;
}

#accountUser, #accountName, #accountEmail, #accountPhone, #accountPass { /* Divs com conteúdo */
    border: 1px solid #d2d2d2;
    border-bottom: none;
    padding: 20px;
}

#accountPass { /* Apenas adicionando a borda embaixo da div password */
    border-bottom: 1px solid #d2d2d2;
}

#btnEdit { /* Botão de ditar */
    height: 40px !important;
}

#btnEdit:focus, input:focus { /* Botão de editar (ao clicar) */
    border-color: none !important;
    outline: 0;
    -webkit-box-shadow: none !important;
    box-shadow: none !important
}

.errors {
    list-style: none;
    padding-top: 10px;
}

/* MODAL USER */



@media(min-width: 360px) and (max-width: 575.8px) {
    #accountAll {
        margin-top: 150px;
        margin-bottom: 200px;
    }

    #modalExemplo, #modalExemplo1, #modalExemplo2, #modalExemplo3, #modalExemplo4 {
        margin-top: 150px;
    }

    #btnModalEdit {
        margin-top: 10px;
    }
}

@media(min-width: 576px) and (max-width: 767.98px) {

}

@media(min-width: 768px) and (max-width: 997.8px) {

}

@media(min-width: 998px) and (max-width: 1199.8px) {
    #accountAll {
        margin-top: 150px;
        margin-bottom: 350px;
    }

    #modalExemplo, #modalExemplo1, #modalExemplo2, #modalExemplo3, #modalExemplo4 {
        margin-top: 150px;
    }

    #btnModalEdit {
        margin-top: 10px;
    }
}

@media(min-width: 1200px) {
    #accountAll {
        margin-top: 150px;
        margin-bottom: 350px;
    }

    #modalExemplo, #modalExemplo1, #modalExemplo2, #modalExemplo3, #modalExemplo4 {
        margin-top: 150px;
    }

    #btnModalEdit {
        margin-top: 10px;
    }
}
