#divCardapioAll {
    background: url("../img/black.jpg");
}

#cardapio {     /* DIV ONDE FICA O MENU DE COMPRA */
    margin-top: 100px;
}

#btnsCardapio {
    margin-left: 140px;
    margin-top: 60px;
}

#divPaiCardapio, #divPaiCardapio1, #divPaiCardapio2 {
    margin-top: 60px;
    margin-bottom: 500px;
}

#divPaiCardapio1, #divPaiCardapio2 {            /*DIV FORA DO FOREACH */
    display: none;
}

#divFilhaCardapio, #divFilhaCardapio1, #divFilhaCardapio2 {         /* DIV DENTRO DO FOREACH */
    display: inline-block;
    margin-left: 150px;
    margin-top: 15px;
}

#divImgCardapio {       /* DIV DAS IMAGENS DAS PIZZAS VINDAS DO BD */
    margin-top: 10px;
}

#imgCardapio {   /* IMAGEM DAS PIZZAS VINDO DO BD */
    width: 250px;
    height: 240px;
    margin-left: -7px;
}

#cardapioText {      /* TEXTO SOBRE O PRODUTO VINDO DO BD */
    margin-top: 10px;
    float: right;
}

#cardapioName {      /* NOME DO PRODUTO VINDO DO BD */
    font-size: 24px;
    text-transform: uppercase;
    color: #fff;
}

#cardapioDescription {       /* DESCRIÇÃO DO PRODUTO VINDO DO BD */
    text-align: left;
    color: #757576;
}

#cardapioPrice {         /* PREÇO DO PRODUTO VINDO DO BD */
    color: #FAC564;
    font-size: 20px;
}

#btnPedir {         /* BOTÃO DE FAZER PEDIDO */
    margin-left: 10px;
    color: #fff;
    border: 1px solid #fff;
    font-size: 18px;
    width: 100px;
}

#btnPedir:hover {           /* AO PASSAR O MOUSE EM CIMA DO BOTÃO PEDIR */
    background-color: #FAC564;
    color: #000;
}


