#divCardapioAll {
    background: url("../img/black.jpg");
}

#cardapio {     /* DIV ONDE FICA O MENU DE COMPRA */
    margin-top: 100px;

}

#divImgCardapio {       /* DIV DAS IMAGENS DAS PIZZAS VINDAS DO BD */
    margin-top: 10px;
}

#imgCardapio {   /* IMAGEM DAS PIZZAS VINDO DO BD */
    width: 250px;
    height: 240px;
    margin-left: -7px;
}

#cardapioText {      /* TEXTO SOBRE O PRODUTO VINDO DO BD */
    margin-top: 10px;
    background-color: rgba(300, 544, 75, 0.07);
}

#cardapioName {      /* NOME DO PRODUTO VINDO DO BD */
    font-size: 24px;
    text-transform: uppercase;
}

#cardapioDescription {       /* DESCRIÇÃO DO PRODUTO VINDO DO BD */
    text-align: left;
    color: #757576;
}

#cardapioPrice {         /* PREÇO DO PRODUTO VINDO DO BD */
    color: #FAC564;
    font-size: 20px;
}

#btnPedir {         /* BOTÃO DE FAZER PEDIDO */
    margin-left: 10px;
    color: #fff;
    border: 1px solid #fff;
    font-size: 18px;
    width: 100px;
}

#btnPedir:hover {           /* AO PASSAR O MOUSE EM CIMA DO BOTÃO PEDIR */
    background-color: #FAC564;
    color: #000;
}

#divPaiCardapio1, #divPaiCardapio2 {
    display: none;
}

#divImgCardapio, #divImgCardapio1, #divImgCardapio2 {
    display: inline-block;
}
