@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');

body {
    font-family: 'Roboto Condensed', sans-serif;
}

#divCardapioAll {       /* BODY */
    background-color: #F6F4F3;
    font-family: 'Roboto Condensed', sans-serif;
}

#titleCardapio {
}

#btnPizzaCardapio, #btnBurgerCardapio, #btnDrinkCardapio {
    padding: 10px;
    color: #F03A47;
    border: 1px solid #F03A47;
    font-size: 18px;
}

#btnPizzaCardapio {
    background-color: #F03A47;
    color: #fff;
}

#btnPizzaCardapio:hover, #btnBurgerCardapio:hover, #btnDrinkCardapio:hover {
    background-color: #F03A47;
    color: #fff;
}

#divPaiCardapio, #divPaiCardapio1, #divPaiCardapio2 {       /* DIV FORA DO FOREACH */
    margin-top: 60px;
    margin-bottom: 500px;
}

#divPaiCardapio1, #divPaiCardapio2 {            /*DIV FORA DO FOREACH ESCONDIDA */
    display: none;
}

#divFilhaCardapio, #divFilhaCardapio1, #divFilhaCardapio2 {         /* DIV DENTRO DO FOREACH */
    display: inline-block;
    margin-top: 15px;
}

#divImgCardapio, #divImgCardapio1, #divImgCardapio2 {       /* DIV DAS IMAGENS DAS PIZZAS VINDAS DO BD */
    margin-top: 10px;
}

#imgCardapio {   /* IMAGEM DAS PIZZAS VINDO DO BD */
    width: 250px;
    height: 240px;
    margin-left: -7px;
}

#cardapioText, #cardapioText1, #cardapioText2 {      /* TEXTO SOBRE O PRODUTO VINDO DO BD */
    margin-top: 10px;
    float: right;
}

#cardapioName, #cardapioName1, #cardapioName2 {      /* NOME DO PRODUTO VINDO DO BD */
    font-size: 24px;
    text-transform: uppercase;
}

#cardapioDescription, #cardapioDescription1, #cardapioDescription2 {       /* DESCRIÇÃO DO PRODUTO VINDO DO BD */
    text-align: left;
}

#cardapioPrice, #cardapioPrice1, #cardapioPrice2 {         /* PREÇO DO PRODUTO VINDO DO BD */
    font-size: 20px;
    color: #F03A47;
}

#btnPedir0, #btnPedir1, #btnPedir2 {         /* BOTÃO DE FAZER PEDIDO */
    margin-left: 10px;
    color: #F03A47;
    border: 1px solid;
    font-size: 18px;
    width: 100px;
}

#btnPedir0:hover, #btnPedir1:hover, #btnPedi2:hover {           /* AO PASSAR O MOUSE EM CIMA DO BOTÃO PEDIR */
    background-color: #F03A47;
    color: #fff;
}

@media(min-width: 360px) and (max-width: 575.8px) {
    #titleCardapio {
        margin-top: 120px;
    }

    #btnsCardapio {
        margin-top: 100px;
        margin-left: 25px;
    }

    #btnPizzaCardapio, #btnBurgerCardapio, #btnDrinkCardapio {
        margin-left: 20px;
        width: 80px;
    }

    #btnPedir0, #btnPedir1, #btnPedir2 {
        margin-top: 10px !important;
    }

    #cardapioName, #cardapioName1, #cardapioName2 {
        font-size: 22px;
    }

    #cardapioText, #cardapioText1, #cardapioText2 {
        width: 280px;
        height: 240px;
    }

    #btnPizza, #btnBurger, #btnDrink {      /* BOTÕES DO MINI-MENU */
        margin-left: 30px;
        width: 80px;
    }

    #imgPizza, #imgBurger, #imgDrink {     /* IMAGENS VINDAS DO BD */
        margin-left: 75px;
    }

    #divFilhaPizza, #divfilhaBurger, #divFilhaDrink {       /* DIV DENTRO DO FOREACH */
        margin-top: -130px;
    }


}

@media(min-width: 576px) and (max-width: 767.8px) {

}

@media(min-width: 768px) and (max-width: 997.8px) {

}

@media(min-width: 998px) and (max-width: 1199.8px) {
    #divPaiCardapio, #divPaiCardapio1, #divPaiCardapio2 {
        margin-left: 150px;
    }

    #btnsCardapio {
        margin-left: 140px;
        margin-top: 60px;
    }

    #cardapioText, #cardapioText1, #cardapioText2 {
        width: 280px;
        height: 240px;
    }

    #cardapioName, #cardapioDescription {      /* NOME DO PRODUTO VINDO DO BD */
        padding: 20px;
    }

    #cardapioPrice {         /* PREÇO DO PRODUTO VINDO DO BD */
        padding: 15px;
    }

    #btnPizzaCardapio, #btnBurgerCardapio, #btnDrinkCardapio {      /* BOTÕES DO MINI-MENU */
        margin-left: 25px;
        width: 100px;
        font-size: 20px;
    }

    #divFilhaPizza, #divfilhaBurger, #divFilhaDrink {       /* DIV DENTRO DO FOREACH */
        margin-left: 150px;
    }
}

@media(min-width: 1200px) {
    #cardapio {
        margin-left: 500px;
    }

    #btnsCardapio {
        margin-left: 10px;
        margin-top: 150px;
    }

    #cardapioText, #cardapioText1, #cardapioText2 {
        width: 280px;
        height: 240px;
    }

    #cardapioName, #cardapioName1, #cardapioName2, #cardapioDescription, #cardapioDescription1, #cardapioDescription2 {      /* NOME DO PRODUTO VINDO DO BD */
        padding: 20px;
    }

    #cardapioPrice, #cardapioPrice1, #cardapioPrice2 {         /* PREÇO DO PRODUTO VINDO DO BD */
        padding: 15px;
    }

    #btnPizzaCardapio, #btnBurgerCardapio, #btnDrinkCardapio {      /* BOTÕES DO MINI-MENU */
        margin-left: 25px;
        width: 100px;
        font-size: 20px;
    }

    #divFilhaCardapio, #divfilhaCardapio1, #divFilhaCardapio2 {       /* DIV DENTRO DO FOREACH */
        margin-left: 25px;
        border: 1px solid #000;
    }

    #titleCardapio {
        margin-top: 150px;
        margin-left: -250px;
    }
}

