@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');

#fatherDiv {
    margin-top: 30px;
    font-family: 'Roboto Condensed', sans-serif;
}

#left {
    margin-top: 30px;
}

#rightDiv {
    background-color: #F8F8F8;
    padding: 25px;
    font-size: 20px;
}

#btn {
    text-align: center;
}

#btn:focus {
    outline: 0;
    border-color: #e5e500;
    box-shadow: 0 0 2px 2px #e5e500;
}

#title, #body {
}

#total {
    font-size: 24px;
}

tr {
    font-size: 18px;
    text-align: center;
}

#newTitle {            /* Titulo (finalize seu pedido) */
    color: #c4161c;
    font-size: 32px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
}

#qtdEdit {      /* View quantidade_produto */
    width: 20%;
    text-align: center;
    border: none;
    padding: 3px;
    background-color: transparent;
    color: #000;
}

#tdProduct {
    text-transform: uppercase;
}
