@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');

#edit {
    margin-top: 50px;
    font-family: 'Roboto Condensed', sans-serif;
}

#accountLink {
    margin-bottom: 25px;
}

#editName, #editEmail, #editPhone, #editPass, #editUser {
    border: 1px solid #d2d2d2;
    padding: 25px;
    width: 50% !important;
}

#divNome, #divEmail, #divPhone, #divPass, #divUser {
    padding: 15px;
}

#newPass, #conPass {
    margin-top: 20px;
}

#inputName:focus, #inputEmail:focus, #inputPhone:focus, #inputPass:focus, #inputNewPass:focus, #inputConPass:focus, #inputUser:focus {
    outline: 0;
    border-color: #e5e500;
    box-shadow: 0 0 2px 2px #e5e500;
}

#submit {
    outline: 0;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}
