@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');

#formLogin {
    margin-top: 100px;
}

#container-login100 {
    margin-top: 70px;
}

#userPass, #userLogin{
    border: 1px solid #ccc !important;
}

#userLogin:focus, #userPass:focus {
    outline: 0;
    border-color: #121618;
    box-shadow: 0 0 2px 2px #121618;
}


#btnForgot {
    width: 100%;
    border-radius: 15px !important;
    background-color: #ca7f00 !important;
    color: #fff;
}

#btnForgot:hover {
    background-color: #b46d00 !important;
}

#btnForgot:focus, #btnLogin:focus {
    border-color: none !important;
    outline: 0;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

#btnLogin {
    width: 100%;
    border-radius: 15px !important;
    background-color: #C4161C;
    color: #fff;
}

#btnLogin:hover {
    background-color: #aa1318;
}

#btnCadastro {
    margin-top: 15px;
    font-size: 18px;
    margin-left: 5px;
}

.form-title {
    color: #C4161C;
    font-size: 40px;
    font-family: 'Roboto Condensed', sans-serif;
}

@media(min-width: 360px) and (max-width: 575.8px) {
    #formLogin {
        width: 350px;
        padding: 20px;
    }

    #iconUser {
        font-size: 60px;
    }

    #btnLogin {
        margin-bottom: 10px;
    }
}

@media(min-width: 576px) and (max-width: 767.98px) {

}

@media(min-width: 768px) and (max-width: 997.8px) {

}

@media(min-width: 998px) and (max-width: 1199.8px) {
    #formLogin {
        border: 1px solid;
        padding: 60px;
        width: 450px;
        height: 480px;
    }

    #iconUser {
        font-size: 60px;
    }
}

@media(min-width: 1200px) {
    #formLogin {
        border: 1px solid;
        padding: 60px;
        width: 450px;
        height: 480px;
    }

    #iconUser {
        font-size: 60px;
    }
}
