@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');

#wrapperOrders {
    margin-top: 150px;
}

#ordersUser {
    margin-top: 30px;
}

#contentTop {
    background-color: #F6F6F6;
    border: 1px solid #ccc;
    height: auto;
    padding-top: 8px;
}

#order, #price, #send, #orderID {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
}

#userDate, #userPrice, #userName {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
}

#userPrice {
    color: #dc2323;
    font-size: 20px;
}

#contentBottom {
    border: 1px solid #ccc;
    padding-top: 15px;
}

#entregue {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    font-weight: bold;
}


#infoOrder {        /* Div com informações do produto */
    font-family: 'Roboto Condensed', sans-serif;
    padding: 20px;
}

#product_name {         /* Nome do produto na div infoOrder */
    font-size: 20px;
}

#product_price {        /* Preço do produto na div infoOrder */
    font-size: 20px;
    color: #dc2323;
    font-weight: bold;
}

#qtd {
    font-size: 18px;
}

#btnBuyLink {
    background-color: #ac2331 !important;
    border: none;
}

#btnBuyLink:hover {
    background-color: #821d29 !important;
}

@media(min-width: 360px) and (max-width: 575.8px) {
    #wrapperOrders {
        margin-bottom: 150px;
    }
}

@media(min-width: 576px) and (max-width: 767.98px) {

}

@media(min-width: 768px) and (max-width: 997.8px) {

}

@media(min-width: 998px) and (max-width: 1199.8px) {
    #wrapperOrders {
        margin-bottom: 450px;
        margin-left: 600px;
    }

    #btnBuyLink {
        margin-top: 10px;
    }
}

@media(min-width: 1200px) {
    #wrapperOrders {
        margin-bottom: 450px;
        margin-left: 600px;
    }

    #btnBuyLink {
        margin-top: 10px;
    }
}
