#divAll {
    position: relative;
}

#tableUsers {
    text-align: center;
}

#th {
    background-color: #343A40;
}

#btnEditUser {
    cursor: pointer;
}

#btnAdd {
    margin-bottom: 10px;
}

#modalForm {

}

#inlineRadio1, #inlineRadio2, #inlineRadio3, #ingredients {
    width: 20px;
    height: 20px;
}

#novo_select_container{
    position: relative;
    height: 21px;
    display: inline-block;
}

#novo_select{
    background: #ddd;
}

#novo_select li, #novo_select ul{
    padding: 0;
    margin: 0;
}

#novo_select li{
    padding: 0 10px;
    line-height: 25px;
    cursor: default;
}

#novo_select li:first-child{
    background: url(https://www.materialui.co/materialIcons/navigation/arrow_drop_down_grey_192x192.png) right no-repeat;
    background-size: contain;
    padding-right: 25px;
}

.novo_select_aberto{
    position: relative;
    display: inline-block;
}

.novo_select_fechado{
    position: absolute;
    clip: rect(0px 1000px 25px 0px);
    height: 30px !important;
}

#ulIng {
    list-style: none;
}

#optionIng, #selectIng {
    font-size: 18px !important;
}

#btnFormSubmit, #btn {
    width: 100%;
    border-radius: 15px !important;
    background-color: #C4161C;
    color: #fff;
}

#btnFormSubmit:hover, #btn:hover {
    background-color: #aa1318;
}

.errors {
    list-style: none;
    border-left: none;
}

.form-control {
    border: 1px solid #ccc !important;
}

.form-title {
    color: #C4161C;
    font-size: 40px;
    font-family: 'Roboto Condensed', sans-serif;

}

select:focus {
    outline: 0;
    border-color: #e5e500;
    box-shadow: 0 0 2px 2px #e5e500;
}

#fileDiv {
    margin-left: 10px;
}

.fileUpload {
    position: relative;
    overflow: hidden;
}

.fileUpload input#fileImg {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

@media(min-width: 360px) and (max-width: 575.8px) {
    #divAll {
        margin-top: -700px;
        margin-bottom: 500px;
    }

    #formTitleProduct {
        text-align: center;
    }

    #modalForm {
        padding: 20px;
    }

    #tamanho2 {
        margin-top: 20px;
    }
}

@media(min-width: 576px) and (max-width: 767.98px) {

}

@media(min-width: 768px) and (max-width: 997.8px) {

}

@media(min-width: 998px) and (max-width: 1199.8px) {
    #divAll {
        margin-top: -800px;
        margin-bottom: 350px;
    }

    #modalForm {
        width: 800px !important;
    }
}

@media(min-width: 1200px) {
    #divAll {
        margin-top: -850px;
        margin-bottom: 350px;
    }

    #tableUsers, #btnAdd, #links {
        margin-left: 250px;
    }

    #modalForm {
        width: 800px !important;
    }
}
