@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');

#imgMark {
    height: 730px;
    background-color: #ccc;
}

/* DIV COM AS INFOS DO RESTAURANTE E REDES SOCIAIS */

#divResAcc {
    height: 100px;
    color: #fff;
    font-family: 'Roboto Condensed', sans-serif;
}

#infoRes {
    background-color: #000;
    padding: 20px;
}

#accounts {
    background-color: #FAC564;
    padding: 20px;
}

/* DIV COM A IMAGEM DO RESTAURANTE E FALANDO SOBRE ELE */

#divImgText {
    background-image: url("../img/black.jpg");
}

#imgRestaurant {
    margin-left: -15px;
}

#divTextRestaurant {
    padding: 70px;
    font-family: 'Roboto Condensed', sans-serif;
}

#textRestaurant {
    color: #fff;
    padding: 15px;
    visibility: hidden;
}

#title {
    padding: 15px;
    color: #fff;
    visibility: hidden;
}

/* DIV DE SERVIÇOS */

#services {
    background: #FAC564;
}

#servTitle {
    visibility: hidden;
    padding: 50px;
}

#servText {
    visibility: hidden;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 26px;
    text-align: center;
    color: #7E5B18;
}

#pizza, #chips, #drink {
    margin-top: 100px;
    height: 100px;
}

#iPizza, #iChips, #iDrink {
    font-size: 70px;
    text-align: center;
    padding: 15px;
    width: 100px;
    height: 100px;
    border: 1px solid;
}

#iPizza:hover, #iChips:hover, #iDrink:hover {
    border: none;
    color: #fff;
    background-color: #000;
    transform: rotateY(360deg);
    transition: 0.7s;
}

#pizzaTitle, #chipsTitle, #drikTitle {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 26px;
}

#pizzaText, #chipsText, #drinkText {
    padding: 70px;
    text-align: center;
    font-size: 20px;
    font-family: 'Roboto Condensed', sans-serif;
    color: #7E5B18;
}

.content1 {
    visibility: hidden;
}

/* ÁREA DE PRODUTOS */

#all3 {
    background: url("../img/black.jpg");
    color: #fff;
    font-family: 'Roboto Condensed', sans-serif;
}

#menu {
    margin-top: 100px;
}


#menuTitle {
    visibility: hidden;
    padding: 80px;
}

#menuText {
    visibility: hidden;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 26px;
    text-align: center;
    text-justify: auto;
    color: #757576;
}

#divImg {
    border: 1px solid #757576;
}

#imgProduct {
    width: 250px;
    height: 240px;
    padding: 15px;
}

#productText {
    width: 250px;
    height: 240px;
    background-color: rgba(0, 0, 0, 0.53);
}

#productName {
    padding: 20px;
    font-size: 24px;
    text-transform: uppercase;
}

#productComment {
    height: 120px;
    padding: 20px;
    text-align: left;
    color: #757576;
}

#productPrice {
    color: #FAC564;
    padding: 15px;
    font-size: 20px;
}

#btnPedir {
    margin-left: 10px;
    color: #fff;
    border: 1px solid #fff;
    font-size: 18px;
    width: 100px;
}

#btnPedir:hover {
    background-color: #FAC564;
    color: #000;
}

/* ÁREA DO CARDÁPIO */

#all4 {
    background: url("../img/black.jpg");
}
#imgRestaurant2 {
    height: 500px;
    margin-top: 30px;
    margin-left: -15px;
}

#prodFlutuante {
    display: inline-block;
}

#imgPizza {
    padding: 25px;
    margin-left: 30px;
    margin-top: 90px;
}
