@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');

#footer { /* Rodapé */
    background-color: #121618 !important;
    font-family: 'Roboto Condensed', sans-serif;
}

#navbarTemplate { /* Div pai */
    background-color: #121618 !important;
    font-family: 'Roboto Condensed', sans-serif;
}

#countIcon { /* Número que veio da variável count */
    color: #d02000 !important;
    font-size: 22px;
}

#toggleButton { /* Botão mobile para abrir menu */
    border: none;
}

#toggleButton:focus { /* Botão mobile para abrir menu (ao clicar) */
    border-color: none !important;
    outline: 0;
    -webkit-box-shadow: none !important;
    box-shadow: none !important
}

#search { /* Input text */
    height: 45px;
}

#search:focus::-webkit-input-placeholder { /* Input text (tirar placeholder ao clicar no input) */
    color: transparent;
}

#search:focus { /* input text (ao clicar) */
    border-color: none !important;
    outline: 0;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

#append { /* Botão de buscar  */
    cursor: pointer;
}

#appendIcon { /* Ícone dentro do botão de buscar */
    background-color: #ae2536 !important;
    color: #fff;
    font-size: 16px !important;
    border: none;
}

#dropdownAccount { /* Ícone dropdown do usuário */
    font-size: 36px;
    color: #fff;
}

#navbarDropdown {
    color: #fff;
}

#userDropdown { /* Dropdown do usuário */
    background-color: #FAC564 !important;
}

#myOrders, #logout, #myAccount { /* Links dentro do dropdown */
    color: #000;
}

#myOrders:hover, #logout:hover, #myAccount:hover { /* Links dentro do dropdown (ao passar o mouse por cima) */
    background-color: #ca9b57 !important;
}

#home, #about, #local, #staff, #login { /* Links home, sobre, localização e funcionários */
    color: #fff !important;
    font-size: 18px;
}

#home:hover, #about:hover, #local:hover, #staff:hover, #login:hover { /* Links home, sobre, localização e funcionários (ao passar mouse em cima */
    color: #FAC564 !important;
    transition: all 0.3s;
}


@media (min-width: 360px) and (max-width: 575.8px) {
    /* Responsividade para mobile */
    #cartDesktop { /* Ícone carrinho em lg e xl */
        display: none;
    }

    #countIcon { /* Número que veio da variável count (Posição diferente da que está na responsividade 998px */
        position: absolute;
        left: 332px;
        top: 8px;
    }

    #logoMobile {
        display: block;
    }

    #btnMobile {
        border: none;
    }

    #btnMobile:focus {
        border: none;
        outline: 0;
    }
}

@media (min-width: 998px) and (max-width: 1198px) {
    #navbarTemplate { /* Tamanho do Navbar */
        padding: 50px;
        height: 70px;
    }

    /* Responsividade para desktop */
    #search { /* Input text */
        width: 950px;
    }

    .dropdown-menu { /* Div dentro do dropdown */
        margin-left: -35px !important;
    }

    #countIcon { /* Número que veio da variável count */
        position: absolute;
        left: 1349px;
        top: 22px;
    }

    #cartMobile { /* PNG do carrinho na versão mobile */
        display: none;
    }

    #cartDesktop { /* PNG do carrinho na versão desktop */
        display: block;
    }

    #logoMobile { /* LOGO na versão mobile */
        display: none;
    }
}

@media(min-width: 1200px) {
    #navbarTemplate { /* Tamanho do Navbar */
        padding: 50px;
        height: 70px;
    }

    .dropdown-menu { /* Div dentro do dropdown */
        margin-left: -100px !important;
    }

    #countIcon { /* Número que veio da variável count */
        position: absolute;
        left: 2372px;
        top: 18px;
    }
}

